@use "../common/variables";
@use "../layouts/break_points";
@use "../layouts/themify";
@use "../common/common_styling";

.hero-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;

  @include break_points.px1024 {
    grid-auto-flow: row;
    grid-template-columns: auto;
    margin-top: 3.5rem;
  }

  &__image {
    border-radius: 1.5rem;
    transform: translate(-4em, 2em) scale(1.3);

    @include break_points.px1024 {
      transform: translate(-2em, 0) scale(1.2);
    }
  }

  &__description {
    font-family: variables.$font-casual;
    font-weight: 500;
    font-size: 1.85rem;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    word-spacing: 1px;

    @include break_points.px1024 {
      padding: 0 2rem;
      transform: translateY(-4em);
      font-size: 1.65rem;
    }

    p {
      text-align: center;
    }

    $themes: (
      light: (
        variables.$text-color: variables.$color-black,
      ),
      dark: (
        variables.$text-color: variables.$color-white,
      ),
    );

    @include themify.themify($themes) {
      color: themify.themed(variables.$text-color);
    }

    &::before {
      content: "\0022";
      position: absolute;
      transform: scale(12);
      top: 104px;
      left: -70px;
      z-index: -1;
      color: variables.$color-orange;

      @include break_points.px1024 {
        content: "\201D";
        top: 2em;
        left: unset;
        transform: scale(10);
        right: 2em;
        font-family: variables.$font-mukta;
      }
    }
  }
}

.projects-section {
  margin-top: 12rem;

  @include break_points.px1024 {
    margin-top: 0;
  }

  &__description {
    margin-top: 3rem;

    p {
      font-size: 1.5rem;
      font-family: variables.$font-mukta;
      font-weight: 400;

      $themes: (
        light: (
          variables.$text-color: variables.$color-black,
        ),
        dark: (
          variables.$text-color: variables.$color-white,
        ),
      );

      @include themify.themify($themes) {
        color: themify.themed(variables.$text-color);
      }

      a {
        @extend %common-a-style;
        border: none;
        border-radius: 0;
        display: inline-flex;
        align-items: center;
      }
    }
  }
}

.social-links {
  margin-top: 8rem;

  .flex-hoc__el {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__a {
    padding: 1.5rem;
  }
}
