@use "../common/variables";
@use "../common/common_styling";
@use "../layouts/break_points";

%common {
  $easing: cubic-bezier(0.25, 1.7, 0.35, 0.8);
  $duration: 0.5s;
  content: "";
  background: variables.$color-purple;
  width: 0.125rem;
  height: 1.375rem;
  display: block;
  transition: all $duration $easing;
}

@mixin after($rotate, $translate) {
  &:after {
    transform-origin: center center;
    transform: rotate($rotate) translateX($translate);
  }
}

.resume {
  &__main-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include break_points.px767 {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__download-resume {
    @extend %common-a-style;
    padding: 1rem 4rem;

    @include break_points.px767 {
      display: block;
      margin-top: 2rem;
      align-self: flex-end;
    }
  }

  &__view-mode {
    margin-top: 8rem;

    .page-heading {
      svg {
        transform: translateY(3px);
      }
    }

    &__ctas {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      border: 5px solid variables.$color-purple;
      max-width: 35rem;
      margin: 3rem auto 0 auto;
      overflow: hidden;

      @include break_points.px767 {
        flex-direction: column;
        border-radius: 3rem;
        max-width: 18.75rem;

        &>span {
          transform: rotate(90deg) scale(1.6);
        }

        &>button {
          &:first-of-type {
            margin-bottom: -1.3rem;
          }

          &:last-of-type {
            margin-top: -1.3rem;
          }
        }
      }

      button {
        color: variables.$color-blue;
        font-size: 1.8rem;
        font-family: variables.$font-mono;
        @extend %cursor-pointer;
        padding: 1.25rem;
        flex-basis: 50%;
        text-decoration: none;
        text-align: center;
        text-transform: capitalize;
        border: 0;
        background: transparent;

        @include break_points.px767 {
          width: 100%;
          padding: 1rem;
        }

        &:active {
          color: variables.$color-orange;
        }

        &:disabled {
          pointer-events: none;
        }

        &.active-mode {
          background-color: rgba($color: variables.$color-blue, $alpha: 0.2);
        }
      }

      .bar-1 {
        position: relative;

        &:after {
          @extend %common;
        }

        &.accordion {
          @include after(-30deg, -3px);
        }

        &.article {
          @include after(30deg, 3px);
        }
      }

      .bar-2 {
        position: relative;

        &:after {
          @extend %common;
        }

        &.accordion {
          @include after(30deg, -3px);
        }

        &.article {
          @include after(-30deg, 3px);
        }
      }
    }
  }
}
