@use "../common/variables";
@use "../common/common_styling";

%common {
  $easing: cubic-bezier(0.25, 1.7, 0.35, 0.8);
  $duration: 0.5s;
  content: "";
  background: variables.$color-purple;
  width: 0.125rem;
  height: 1.375rem;
  display: block;
  transition: all $duration $easing;
}

@mixin after($rotate, $translate) {
  &:after {
    transform-origin: center center;
    transform: rotate($rotate) translateX($translate);
  }
}

.resume {
  &__main-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__download-resume {
    @extend %common-a-style;
    padding: 1rem 4rem;
  }

  &__view-mode {
    margin-top: 8rem;

    .page-heading {
      svg {
        transform: translateY(3px);
      }
    }

    &__ctas {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      border: 5px solid variables.$color-purple;
      width: 35rem;
      margin: 3rem auto 0 auto;

      button {
        color: variables.$color-blue;
        font-size: 1.8rem;
        font-family: variables.$font-mono;
        cursor: pointer;
        padding: 1.25rem;
        border-radius: 5rem;
        flex-basis: 50%;
        text-decoration: none;
        text-align: center;
        text-transform: capitalize;
        border: 0;
        background: transparent;
        user-select: none;

        &:active {
          color: variables.$color-orange;
        }

        &:disabled {
          pointer-events: none;
        }

        &.resume__view-mode__article-mode {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.resume__view-mode__accordion-mode {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.active-mode {
          background-color: rgba($color: variables.$color-blue, $alpha: 0.2);
        }
      }

      .bar-1 {
        position: relative;

        &:after {
          @extend %common;
        }

        &.accordion {
          @include after(-30deg, -3px);
        }

        &.article {
          @include after(30deg, 3px);
        }
      }

      .bar-2 {
        position: relative;

        &:after {
          @extend %common;
        }

        &.accordion {
          @include after(30deg, -3px);
        }

        &.article {
          @include after(-30deg, 3px);
        }
      }
    }
  }
}
