@use "../common/variables";
@use "../layouts/break_points";
@use "../common/common_styling";

.toggle-mode-buttons {
  width: 4rem;
  height: 4rem;
  display: flex;

  @include break_points.px767 {
    width: 3rem;
    height: 3rem;
  }

  button {
    border: 0;
    background: transparent;
    @extend %cursor-pointer;
  }

  &[data-mode="dark"] {

    &:hover {
      svg {
        box-shadow: #ffd60a 0px 1px 30px -2px;
      }
    }

    svg {
      box-shadow: #ffd60a 0px 1px 4px;
    }
  }

  &[data-mode="light"] {

    &:hover {
      svg {
        box-shadow: #adb5bd 0px 1px 30px -2px;
      }
    }

    svg {
      box-shadow: #adb5bd 0px 1px 4px;
    }
  }
}