@use "../common/variables";

.flex-hoc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;

  &__el {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
  }
}