// fonts
$font-casual: 'Dancing Script', cursive;
$font-mukta: 'Mukta', sans-serif;
$font-mono: 'Space Mono', monospace;

// colors
$color-white: #fff;
$color-gray: #f8f9fa;
$color-orange: #f48024;
$color-purple: #9d4edd;
$color-blue: #90e0ef;
$color-black: #000;

// color theme variables
$background-color: "bg-color";
$text-color: "text-color";
$border: "border";
$box-shadow: "box-shadow";