$break-points: (
  px767: 767px,
  px1024: 1024px,
  ) !default; // !default: pass dynamic values on runtime

// max width 1024px
@mixin px1024-max($width) {
  @media (max-width: $width) {
    @content;
  }
}
@mixin px1024 {
  @include px1024-max(map-get($break-points, "px1024")) {
    @content;
  }
}

// max width 767px
@mixin px767-max($width) {
  @media (max-width: $width) {
    @content;
  }
}
@mixin px767 {
  @include px767-max(map-get($break-points, "px767")) {
    @content;
  }
}